@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

/* ---> SIDEBAR <--- */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 0px;
  color: var(--dark);
}

.sidebar {
  font-size: 1.7rem;
  float: left;
  height: 100vh;
  width: 250px;
  background-color: var(--light);
  z-index: 1;
}

.bx {
  padding-right: 10px;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

.side-menu {
  padding: 25px 0px;
}

.side-menu a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-top-right-radius: 48px;
  border-bottom-right-radius: 48px;
  font-size: 16px;
  padding: 10px 20px;
  color: var(--dark);
}

.side-menu li a box-icon {
  margin-right: 0.5rem;
}

.side-menu .active {
  color: var(--success);
  background-color: var(--grey);
}

.sidebar .side-menu li a.logout {
  color: var(--danger);
}

#stack-one {
  margin-bottom: 50px;
}

#stack-two {
  margin-bottom: 50px;
}

/* ---> END OF SIDEBAR <--- */

/* NAVBAR */

.navbar {
  background-color: black;
}

/* ---> END OF NAVBAR <--- */

/* MAIN */
.main-content {
  border: 10px;
  border-radius: 48px;
  height: 100vh;
  background-color: var(--dark-grey);
  color: #1976d2;
}

